{% extends "base.html" %}
{% block content %}

        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <img  src="static/assets/img/about-bg.jpg" class="img-fluid">

<div class="col-md-10 col-lg-8 col-xl-7 mb-4">
    <p class="text-muted">Innovative Tech Consultant with over 5 years experience in cloud, devops and software engineering. Seeking to leverage skills as a Tech Consultant and Medical Doctor</p>
</div>
<div class="col-md-10 col-lg-8 col-xl-7 mb-4">
    <p class="text-muted">My passion for technology and healthcare has led me to develop a unique skill set that combines my medical knowledge with my tech skills.</p>
</div>
<div class="col-md-10 col-lg-8 col-xl-7 mb-4">
    <p class="text-muted">I have worked on a variety of projects that have allowed me to develop my skills in these areas.</p>
</div>

                </div>
            </div>
        </main>

{% endblock %}