{% include "header.html" %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Innovative Tech Consultant with 5 years experience in cloud, devops and software engineering. Seeking to leverage skills as a  Tech Consultant and Medical Doctor to drive innovative solutions in healthcare technology settings.
</p>

                    </div>
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>My passion for technology and healthcare has led me to develop a unique skill set that combines my medical knowledge with my tech skills. I have worked on a variety of projects that have allowed me to develop my skills in these areas.</p>
                    </div>
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>I have worked on a variety of projects that have allowed me to develop my skills in these areas.</p>
                    </div>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>My passion for technology and healthcare has led me to develop a unique skill set that combines my medical knowledge with my tech skills. </p>
                    </div>



                </div>
            </div>
        </main>

{% include "footer.html" %}