<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Emmanuel's Portfolio</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css')}}"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Emmanuel's Portfolio</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('resume') }}">Resume</a>
            </li>
        </ul>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <script src="static/js/scripts.js"></script>
  </body>

<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-12 col-md-12 mb-4 mb-md-0">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="tel:+1 (302) 480-1344" class="btn btn-outline-dark btn-sm">
              <i class="bi bi-telephone"></i> +1 (234) 567-890
            </a>
          </li>
          <li class="list-inline-item">
            <a href="mailto:cto@foramen.io" class="btn btn-outline-dark btn-sm">
              <i class="bi bi-envelope"></i> cto@foramen.io
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/niiayerh_" target="_blank" class="btn btn-outline-dark btn-sm">
              <i class="bi bi-twitter"></i> @emmanuel
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/drayerh" target="_blank" class="btn btn-outline-dark btn-sm">
              <i class="bi bi-github"></i> github.com/drayerh
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://linkedin.com/in/drayerh" target="_blank" class="btn btn-outline-dark btn-sm">
              <i class="bi bi-linkedin"></i> linkedin.com/in/drayerh
            </a>
          </li>
        </ul>
        <p class="text-center mt-3">© {{ datetime.now().year }} Emmanuel's Portfolio</p>
      </div>
    </div>
  </div>
</footer></html>