{% extends "base.html" %}
{% block content %}

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">

            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="middle-container">
    <div class="profile">
      <img src="static/images/emmanuel.png" alt="emmanuel-profile-img">
      <h2>Hello.</h2>
      <p class="intro">I am a Professional Tech Consultant Devops Engineering. I'm entrepreneurial in spirit and humanitarian at heart. I ❤️ to create innovative solutions to meet the fast pacing changes of this digital age.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/images/chillies.png" alt="chillies-img">

        <h3>Development</h3>
        <p>I have the enterprise level front end and back end skills under my toolbelt.</p>

      </div>

      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Devops & Cloud Cloud Engineering</h3>
        <p>I have gained a wealth of experience designing and developing websites, applications as well as using Devops/SRE tools in provisioning Cloud infrastructure according to the AWS well architected framework.</p>


        <hr>
{% endblock %}
