{% extends "base.html" %}
{% block content %}

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">

            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="middle-container">
                    <div class="profile">
                        <h2>Welcome to Emmanuel's World!</h2>
                        <img src="static/assets/img/emmanuel.jpg" alt="emmanuel-profile-img">
                    </div>
                    <div class="intro">Ad astra per aspera⭐⭐</div>
                </div>
            </div>
        </div>
        <hr>
{% endblock %}
