{% extends "base.html" %}
{% block content %}

<body>
    <header>
        <h1>My Resume</h1>
        <nav>
            <ul>
                <li><a href="https://app.rezi.ai/s/ATCuNXGzPD0YaM9rJtwT"> View Resume</a></li>
            </ul>
        </nav>
    </header>


    <section>
        <h2>Where is my resume?</h2>
        <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExcnRmbmw1NmxxeGVoZ3p4MmhtcDd6ODlhbXNxdWVpZmZwbTRxY3d6MCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/XBKgBeVjgDCJ87k4LY/giphy.gif">
    </section>
</body>

{% endblock %}


